// Colors
$white: #fcfcfc;
$bg-lightgray: #f5f5f5;
$text-darkgray: #666666;
$bg-color: #fcfcfc;
$primary-blue: #00f0ff;
$secondary-blue: #0077ff;
$accent-orange: #ffaa00;
$orange-dark: #f07510;
$orange-brown: #d67f31;
$glass-bg: rgba(255, 255, 255, 0.7);
$glass-border: rgba(255, 255, 255, 0.2);
$text-main: #2a2a2a;
$text-muted: #908bb4;
$text-lightgray: #ababab;