@import "@/styles/variables";
@import "./SectionStyle.module.scss";
@import "@/styles/_mixins.scss";


.contentBlockSection {
  padding: 100px 0;
  width: 100%;

  @media (max-width: 768px) {
    padding: 48px 0;
  }

  // 有背景圖片時的響應式處理
  // 使用共用的 SectionStyle 模組
  &.hasBgImage {
    @extend .hasBgImage;
  }
}

.container {
  @include section-container(1280px);
  
}

.header {
  @include section-header;
}

.title {
  @include section-title;
}

.subtitle {
  @include section-subtitle;
}

.content {
  @include section-content;
}