@import "@/styles/variables";
@import "./SectionStyle.module.scss";
@import "@/styles/_mixins.scss";


.contentBlockSection {
 @include section-base;
  &.hasBgImage {
    @extend .hasBgImage;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
}

.container {
  @include section-container(1280px);
  
}

.header {
  @include section-header;
}

.title {
  @include section-title;
}

.subtitle {
  @include section-subtitle;
}

.content {
  @include section-content;
}