@import "@/styles/variables";
@import "./SectionStyle.module.scss";
@import "@/styles/_mixins.scss";


.ctaSection {
  @include section-base;
  &.hasBgImage {
    @extend .hasBgImage;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    .container{
      min-height: 0px !important;
    }
    min-height: 0px !important;
  }
}

.container {
  @include section-container(1024px);
  
  text-align: center;
}

.title {
  @include section-title;
  margin-bottom: 16px;
}

.subtitle {
  @include section-subtitle;
  color: rgba(42, 42, 42, 0.8);
  margin-bottom: 32px;
}

.content {
  @include section-content;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.button {
 @include section-button;
}

.arrowIcon {
  @include section-buttonIcon;
}

.button:hover .arrowIcon {
  @include section-buttonIconHover;
}