@import "@/styles/variables";
@import "./SectionStyle.module.scss";
@import "@/styles/_mixins.scss";

.faqSection {
  @include section-base;

  &.hasBgImage {
    @extend .hasBgImage;
  }
}

.container {
  @include section-container(1280px);
}

.header {
  @include section-header;
}

.title {
  @include section-title;
}

.subtitle {
  @include section-subtitle;
}

.faqContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.faqItem {
  background-color: white;
  cursor: pointer;
  transition: box-shadow 0.2s;

  &:hover {
  }
}

.questionLabel {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  color: $text-main;
  border-bottom: 2px solid $accent-orange;
}

/* grid-template-rows平滑收合 */
.answerLabel {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.35s ease-in-out;
  overflow: hidden;
  background-color: $bg-lightgray;

  &.open {
    grid-template-rows: 1fr;
  }
}

.answerInner {
  min-height: 0;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.6;
  color: $text-muted;
  padding: 0;
  transition: padding 0.25s ease-out;
  padding: 0 16px;

  .answerLabel.open & {
    padding: 16px;
    transition: padding 0.3s ease-in 0.05s;
  }
}

.arrowIcon {
  transition: all 0.3s ease-in-out;
  transform: rotate(0deg);

  &.open {
    transform: rotate(180deg);
  }
}