@import "@/styles/variables";
@import "@/styles/_mixins.scss";
/**
 * 共用 Section 樣式模組
 * 統一管理所有 section 的背景圖片響應式樣式
 */

// 有背景圖片時的處理
.hasBgImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include rwd-lg {
    min-height: auto !important;
    background-size: auto 120% !important;
    background-position: 60% 10% !important;
  }

  .container {
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    @include rwd-lg {
      padding-top:30px;
      min-height: auto;
      padding-bottom: 60px;
    }
  }
  .content {
    @include rwd-lg {
      border-radius: 16px 16px 0 0;
      padding:30px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 70%, rgba(255, 255, 255, 0) 100%) !important;
    }
  }
}