@import "../../../styles/variables";

.wrapper {
  width: 100%;
  position: relative;
  color: $text-main;
  min-height: 100vh;
  font-family: "Titillium Web", "Noto Sans TC", sans-serif;
  p{
    font-family: "Montserrat","Noto Sans TC", sans-serif;
  }
  a{
    font-family: "Orbitron","Noto Sans TC", sans-serif;
  }
}

