.clipPathBtn {
  height: 40px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  transition: 0.3s;
  color: #2a2a2a;
  font-weight: 500;
  border: 1px solid #2a2a2a;
  background: none;
  padding: 0 20px;
  text-decoration: none;
  clip-path: polygon(18px 0px, 100% 0px, 100% calc(100% - 18px), calc(100% - 18px) 100%, 0px 100%, 0px 18px);
}
.clipPathBtn:before {
  background-color: #2a2a2a;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  right: -9px;
  bottom: 9px;
  transform: rotate(-45deg);
  width: 32px;
}
.clipPathBtn:after {
  background-color: #2a2a2a;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  left: -9px;
  top: 9px;
  transform: rotate(-45deg);
  width: 32px;
}
.clipPathBtn:hover {
  background-color: #2a2a2a;
  color: #fcfcfc;
  transform: scale(1.05);
}
.clipPathBtn:hover .btnArrow {
  transform: translateX(10px);
  color: #fcfcfc;
}

.btnArrow {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  transition: transform 0.3s, color 0.3s;
  color: #2a2a2a;
}