@charset "UTF-8";
/**
 * Section 共用樣式（mixin）
 * 目標：集中管理各 section 常見的 .container/.header/.title/.subtitle
 */
.flipButton {
  --transition: 0.5s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #2a2a2a;
  opacity: 0.8;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  overflow: hidden;
  padding: 4px 30px;
  border: 1px solid #2a2a2a;
  background: rgba(255, 255, 255, 0.7);
  transition: var(--transition);
  cursor: pointer;
  clip-path: polygon(18px 0px, 100% 0px, 100% calc(100% - 18px), calc(100% - 18px) 100%, 0px 100%, 0px 18px);
}
.flipButton:before {
  background-color: #2a2a2a;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  right: -9px;
  bottom: 9px;
  transform: rotate(-45deg);
  width: 32px;
  z-index: 2;
}
.flipButton:after {
  background-color: #2a2a2a;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  left: -9px;
  top: 9px;
  transform: rotate(-45deg);
  width: 32px;
  z-index: 2;
}
@media (hover: hover) and (pointer: fine) {
  .flipButton:hover {
    opacity: 1;
    background: #faad3a;
  }
  .flipButton:hover .flipButtonBg {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .flipButton:hover .flipButtonTextInner:first-child {
    transform: translate(0, -100%);
  }
  .flipButton:hover .flipButtonTextInner:last-child {
    transform: translate(-50%, -100%);
  }
}
@media (hover: none) {
  .flipButton:active {
    opacity: 1;
    background: #faad3a;
  }
  .flipButton:active .flipButtonBg {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .flipButton:active .flipButtonTextInner:first-child {
    transform: translate(0, -100%);
  }
  .flipButton:active .flipButtonTextInner:last-child {
    transform: translate(-50%, -100%);
  }
}
.flipButton.active {
  opacity: 1;
  background: #faad3a;
}
.flipButton.active .flipButtonBg {
  transform: translate(-50%, -50%) rotate(45deg);
}
.flipButton.active .flipButtonTextInner:first-child {
  transform: translate(0, -100%);
}
.flipButton.active .flipButtonTextInner:last-child {
  transform: translate(-50%, -100%);
}

.flipButtonBg {
  display: block;
  aspect-ratio: 1;
  width: 200%;
  background: #2a2a2a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, 0%) rotate(45deg);
  transition: var(--transition);
  z-index: 0;
}

.flipButtonText {
  display: block;
  position: relative;
  z-index: 1;
}

.flipButtonTextInner {
  display: block;
  transition: var(--transition);
  color: #2a2a2a;
  transform: translate(0, 0);
}
.flipButtonTextInner:last-child {
  color: #fcfcfc;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  text-align: center;
}